# System files
.DS_Store

# Environmental variables
.ipynb_checkpoints/
.Rhistory
.Rproj.user

# Generated and reference documentation
docs/

# Generated data
data/processed/

# Generated images
*.png

# Archives
*.zip